{% extends 'form_div_layout.html.twig' %}

{% macro renderLabel(form_id, label, extended_label = '')%}
    {% apply spaceless %}
        <label for="{{ form_id }}">{{ label | striptags('<a>') | raw }}
            {% apply spaceless %}
                {% if extended_label | length > 0 %}
                    <P class="hidden">&nbsp;{{ extended_label | striptags('<a>') | raw }}</P>
                    <a class="agreement-toggle" href="javascript:void(0)">
                        <span>{{ 'bitbag_sylius_agreement_plugin.ui.agreement.less' | trans }}</span>
                        <span>{{ 'bitbag_sylius_agreement_plugin.ui.agreement.more' | trans }}</span>
                    </a>
                {% endif %}
            {% endapply %}
        </label>
    {% endapply %}
{% endmacro %}

{% block bitbag_sylius_agreement_plugin_agreement_approval_checkbox_row %}
    <div class="agreements-form-item{% if form.parent.vars.required%} required{% endif%} m-t-15">
        {% if form.parent.vars.mode == constant('BitBag\\SyliusAgreementPlugin\\Entity\\Agreement\\AgreementInterface::MODE_REQUIRED_AND_NON_CANCELLABLE') and form.vars.approved == true %}
            <div class="non-cancellable d-inline-block">
                {{- form_widget(form, sylius_test_form_attribute('agreement-' ~ form.parent.vars.code)) -}}
                <input type="checkbox" class="disabled" disabled checked>
            </div>
            {{ _self.renderLabel(form.vars.id ~'_non_clickable', form.vars.label, form.vars.extended_label) }}
        {% else %}
            {{- form_widget(form, sylius_test_form_attribute('agreement-' ~ form.parent.vars.code)) -}}
            {{ _self.renderLabel(form.vars.id, form.vars.label, form.vars.extended_label) }}
        {% endif %}
        {% if not form.vars.valid %}
        <div class="error-list">
            {{- form_errors(form) -}}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block bitbag_sylius_agreement_plugin_agreement_approval_hidden_row %}
    <div class="agreements-form-item m-t-15">
        {{- form_widget(form, sylius_test_form_attribute('agreement-' ~ form.parent.vars.code)) -}}
        {{ _self.renderLabel(form.vars.id, form.vars.label, form.vars.extended_label) }}
    </div>
{% endblock %}
