{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}
{% form_theme form '@BitBagSyliusAgreementPlugin/Admin/Form/theme.html.twig' %}

<div class="ui two column stackable grid">
    <div class="column" id="bitbag-block-image">
        {{ form_errors(form) }}
        {{ translationForm(form.translations, resource) }}
    </div>
    <div class="column" id="bitbag-block-image">
        <div class="column stackable grid">
            {{ form_row(form.code) }}
            {{ form_row(form.parent) }}
            {{ form_row(form.mode) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.orderOnView) }}
            {{ form_row(form.contexts) }}
            {{ form_row(form.publishedAt) }}
        </div>
    </div>
</div>
